{% extends 'base.html' %}
{% block content %}
{% if messages %}
    {% for m in messages %}
    <p class="bg-success p-3 text-white">{{m}}</p>
    {% endfor %}
  {% endif %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Musician Name</th>
        <th scope="col">Email</th>
        <th scope="col">Album Rating</th>
        <th scope="col">Instrument Type</th>
        <th scope="col">Album Name</th>
        <th scope="col">Release Date</th>
        {% if request.user.is_authenticated %}
        <th scope="col">Actions</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for album in data %}
      <tr>
        <td>{{ album.id }}</td>
        <td>{% if request.user.is_authenticated %}<a href="{% url "edit_musician" album.musician.id %} "class="text-decoration-none">{% endif %}{{ album.musician.First_Name }} {{ album.musician.Last_Name }}</a></td>
        <td>{{ album.musician.Email }}</td>
        <td>{{ album.get_rating_display }}</td>
        <td>{{ album.musician.Instrument_Type }}</td>
        <td>{{ album.Album_Name}}</td>
        <td>{{ album.Album_release_date}}</td>
        {% if request.user.is_authenticated %}
        <td class="actions">
            <a href="{% url "edit_album" album.id %}"><button type="button" class="btn btn-warning m-2" >Edit</button></a>
              <a href="{% url "delete_musician" album.musician.id %}"><button type="button" class="btn btn-danger m-2">Delete</button></a>
        </td>
        {% endif %}
    </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
