{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<form action="" method="post" class="w-25 m-auto" novalidate>
    {% csrf_token %}
    {% if form.non_field_errors %}
    {% for er in form.non_field_errors %}
    <p class="bg-danger text-white p-3 rounded">{{er}}</p>{% endfor %}
    {% endif %}
    {% for fm in form %}
        {{fm.label_tag}}
        <br>
        {{fm}}
        <br>
        {{fm.errors}}
    {% endfor %}
    <button type="submit" class="btn btn-info">Submit</button>
</form>
{% endblock content %}